<div class="">
  <!-- Título y descripción -->
  <h1 class="text-5xl font-bold text-white mb-6">Acerca de mí</h1>

  <p class="md:text-xl text-base text-white mx-auto max-w-3xl">
    Hola, soy Juan Pablo Cervantes, un desarrollador web enfocado en crear 
    soluciones digitales eficientes y funcionales. Me gusta combinar diseño 
    y tecnología para ofrecer experiencias de usuario intuitivas y bien estructuradas.
  </p>

  <p class="md:text-xl text-base text-white mx-auto max-w-3xl mt-4">
    Tengo experiencia en el desarrollo frontend y backend utilizando tecnologías 
    como <strong>Angular</strong>, <strong>TailwindCSS</strong>, y <strong>NestJS</strong>. 
    A lo largo de mi carrera, he trabajado en diversos proyectos implementando interfaces dinámicas 
    y aplicaciones escalables, siempre buscando entregar un código limpio, eficiente y fácil de mantener.
  </p>

  <p class="md:text-xl text-base text-white mx-auto max-w-3xl mt-4">
    Mis principales habilidades incluyen:
  </p>

  <ul class="list-inside list-disc md:text-xl text-base text-white mx-auto max-w-3xl mt-4">
    <li><strong>Frontend</strong>: Desarrollo con <strong>React</strong> y diseño responsivo con <strong>TailwindCSS</strong>.</li>
    <li><strong>Backend</strong>: Desarrollo con <strong>NestJS, PHP, JAVA</strong> y gestión de bases de datos con <strong>PostgreSQL y MySQL</strong>.</li>
    <li><strong>Habilidades generales</strong>: Adaptabilidad a nuevas tecnologías, trabajo en equipo y enfoque en la resolución de problemasdd.</li>
  </ul>
</div>
