<div class="max-w-5xl mx-auto text-center">
    <!-- Título y descripción -->
    <h1 class="text-5xl font-bold text-white mb-6">Acerca de mí</h1>
    <p class="md:text-lg text-base text-white leading-relaxed mb-8">
      Soy Ingeniero en Sistemas Computacionales con experiencia en desarrollo web, 
      enfocado en crear soluciones eficientes, escalables y de alta calidad, contribuyendo 
      al éxito de los proyectos y la innovación tecnológica.
    </p>

    <!-- Subtítulo y lista de intereses -->
    <h2 class="text-3xl font-semibold text-pink-700 mb-6">Intereses Profesionales</h2>
    <div class="grid grid-cols-4 sm:grid-cols-2 lg:grid-cols-4 gap-8">
        <!-- Interés 1 -->
        <div class="flex flex-col items-center transform transition-transform duration-300 hover:translate-y-[-10px]">
          <div class="text-white md:w-auto w-16 p-4 rounded-full border-2 border-purple-600 mb-4 hover:shadow-xl hover:shadow-purple-600">
            <img src="assets/iconos/front.png" alt="Frontend">
          </div>
          <p class="text-lg font-medium text-white">Front-End</p>
        </div>
      
        <!-- Interés 2 -->
        <div class="flex flex-col items-center transform transition-transform duration-300 hover:translate-y-[-10px]">
          <div class="text-white md:w-auto w-16 p-4 rounded-full border-2 border-purple-600 mb-4 hover:shadow-xl hover:shadow-purple-600">
            <img src="assets/iconos/back.png" alt="Backend">
          </div>
          <p class="text-lg font-medium text-white">Back-End</p>
        </div>
      
        <!-- Interés 3 -->
        <div class="flex flex-col items-center transform transition-transform duration-300 hover:translate-y-[-10px]">
          <div class="text-white md:w-auto w-16 p-4 rounded-full border-2 border-purple-600 mb-4 hover:shadow-xl hover:shadow-purple-600">
            <img src="assets/iconos/sql.png" alt="Bases de datos">
          </div>
          <p class="text-lg font-medium text-white">SQL</p>
        </div>
      
        <!-- Interés 4 -->
        <div class="flex flex-col items-center transform transition-transform duration-300 hover:translate-y-[-10px]">
          <div class="text-white md:w-auto w-16 p-4 rounded-full border-2 border-purple-600 mb-4 hover:shadow-xl hover:shadow-purple-600">
            <img src="assets/iconos/brain.png" alt="Aprendizaje">
          </div>
          <p class="text-lg font-medium text-white">IA</p>
        </div>
      </div>         

    <!-- Segundo conjunto de intereses -->
    <h2 class="text-3xl font-semibold text-pink-700 mb-6 mt-5">Intereses Personales</h2>
    <div class="grid grid-cols-4 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      <!-- Interés 5 -->
      <div class="flex flex-col items-center transform transition-transform duration-300 hover:translate-y-[-10px]">
        <div class="text-white md:w-auto w-16 p-4 rounded-full border-2 border-purple-600 mb-4 hover:shadow-xl hover:shadow-purple-600">
            <img src="assets/iconos/moto.png" alt="Rodar">
        </div>
        <p class="text-lg font-medium text-white">Rodar en moto</p>
      </div>

      <!-- Interés 6 -->
      <div class="flex flex-col items-center transform transition-transform duration-300 hover:translate-y-[-10px]">
        <div class="text-white md:w-auto w-16 p-4 rounded-full border-2 border-purple-600 mb-4 hover:shadow-xl hover:shadow-purple-600">
            <img src="assets/iconos/montaña.png" alt="Senderismo">
        </div>
        <p class="text-lg font-medium text-white">Senderismo</p>
      </div>

      <!-- Interés 7 -->
      <div class="flex flex-col items-center transform transition-transform duration-300 hover:translate-y-[-10px]">
        <div class="text-white md:w-auto w-16 p-4 rounded-full border-2 border-purple-600 mb-4 hover:shadow-xl hover:shadow-purple-600">
            <img src="assets/iconos/gym.png" alt="Deporte">
        </div>
        <p class="text-lg font-medium text-white">Deporte</p>
      </div>

      <!-- Interés 8 -->
      <div class="flex flex-col items-center transform transition-transform duration-300 hover:translate-y-[-10px]">
        <div class="text-white md:w-auto w-16 p-4 rounded-full border-2 border-purple-600 mb-4 hover:shadow-xl hover:shadow-purple-600">
            <img src="assets/iconos/pesca.png" alt="Pesca">
        </div>
        <p class="text-lg font-medium text-white">Pesca</p>
      </div>
    </div>
    
  </div>