<nav class="sticky top-0 bg-gradient-to-r from-purple-800 via-indigo-950 to-pink-500 shadow-md z-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <!-- Logo -->
      <div class="flex-shrink-0">
        <a 
  href="#" 
  class="text-2xl font-bold text-white animate-pulse bg-gradient-to-r from-purple-500 to-pink-500 px-4 py-2 rounded-md">
  Juan Pablo Cervantes
</a>

      </div>

      <!-- Menu para pantallas grandes -->
      <div class="hidden md:flex space-x-4">
        <a href="#inicio" class="text-white hover:text-purple-500 font-semibold">Inicio</a>
        <a href="#sobre-nosotros" class="text-white hover:text-purple-500 font-semibold">Sobre Nosotros</a>
        <a href="#servicios" class="text-white hover:text-purple-500 font-semibold">Servicios</a>
        <a href="#portfolio" class="text-white hover:text-purple-500 font-semibold">Portafolio</a>
        <a href="#contacto" class="text-white hover:text-purple-500 font-semibold">Contacto</a>
      </div>

      <!-- Botón para pantallas pequeñas -->
      <div class="md:hidden">
        <button
          (click)="toggleMenu()"
          class="text-gray-700 hover:text-blue-500 focus:outline-none"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Menú desplegable para pantallas pequeñas -->
  <div
    *ngIf="isMenuOpen"
    class="md:hidden bg-transparent border-t border-gray-200"
  >
    <a href="#inicio" class="block px-4 py-2 text-gray-200 hover:animate-pulse transition-all hover:bg-purple-950">Inicio</a>
    <a href="#sobre-nosotros" class="block px-4 py-2 text-gray-200 hover:animate-pulse transition-all hover:bg-purple-950">Sobre Nosotros</a>
    <a href="#servicios" class="block px-4 py-2 text-gray-200 hover:animate-pulse transition-all hover:bg-purple-950">Servicios</a>
    <a href="#portfolio" class="block px-4 py-2 text-gray-200 hover:animate-pulse transition-all hover:bg-purple-950">Portafolio</a>
    <a href="#contacto" class="block px-4 py-2 text-gray-200 hover:animate-pulse transition-all hover:bg-purple-950">Contacto</a>
  </div>
</nav>
