<!-- Sección Contacto -->
  <div class="max-w-5xl w-full px-6 py-12  rounded-xl">
    <!-- Título de la sección -->
    <h1 class="text-4xl md:text-5xl font-bold text-center text-pink-400 mb-8">¡Ponte en contacto conmigo!</h1>

    <!-- Contenido principal -->
    <div class="space-y-8">
      <!-- Descripción -->
      <p class="text-lg text-gray-600 text-center md:text-left">
        Estoy disponible para ayudarte, colaborar en proyectos y crecer juntos. ¡No dudes en contactarme!
      </p>

      <!-- Información de contacto -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <!-- Teléfono -->
        <div class="flex items-center space-x-4 bg-pink-200 p-4 rounded-lg shadow-md">
          <i class="fas fa-phone-alt text-3xl text-pink-700"></i>
          <div>
            <p class="text-gray-800 font-semibold">Teléfono</p>
            <p class="text-gray-600">+52 33 17 56 93 22</p>
          </div>
        </div>

        <!-- Correo electrónico -->
        <div class="flex items-center space-x-4 bg-pink-200 p-4 rounded-lg shadow-md">
          <i class="fas fa-envelope text-3xl text-pink-700"></i>
          <div>
            <p class="text-gray-800 font-semibold">Correo</p>
            <p class="text-gray-600">juanpablo52c&#64;gmail.com</p>
          </div>
        </div>

        <!-- Dirección -->
        <div class="flex items-center space-x-4 bg-pink-200 p-4 rounded-lg shadow-md">
          <i class="fas fa-map-marker-alt text-3xl text-pink-700"></i>
          <div>
            <p class="text-gray-800 font-semibold">Dirección</p>
            <p class="text-gray-600">Ixtlahuacán de los Membrillos, Jal.</p>
          </div>
        </div>

        <!-- Redes sociales -->
        <div class="flex flex-col items-center bg-blue-50 p-4 rounded-lg shadow-md">
          <p class="text-gray-800 font-semibold mb-4">Sígueme</p>
          <div class="flex space-x-4 text-3xl">
            <a href="https://www.linkedin.com/in/juan-pablo-cervantes-ramirez-4b0665259/" class="text-blue-600 hover:text-blue-700 transition">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/Pabl0Ak2?tab=repositories" class="text-gray-800 hover:text-gray-900 transition">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://www.twitter.com" class="text-blue-400 hover:text-blue-500 transition">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Mensaje de agradecimiento -->
      <p class="text-center text-gray-500 mt-6">
        ¡Gracias por visitar mi página! Estoy emocionado de colaborar contigo.
      </p>
    </div>
  </div>

