<div class="mx-auto p-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="card-container relative flex w-80 flex-col rounded-xl bg-gradient-to-br from-[#f89b29] to-[#ff0f7b] bg-clip-border text-gray-700 shadow-md transition-transform duration-300 hover:-translate-y-2">
          <div class="imagen relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-[url('assets/iconos/alta.png')] bg-cover bg-center">
          </div>          
            <div class="p-6">
              <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                Alta de Usuarios
              </h5>
              <p class="text-white block font-sans text-base font-light leading-relaxed text-inherit antialiased">
                Pequeño proyecto para dar de alta a usuarios, hacer busqueda y borrar un usuario de la lista.
              </p>
            </div>
            <div class="p-6 pt-0">
              <button 
                data-ripple-light="true" 
                type="button" 
                class="select-none rounded-lg bg-blue-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                (click)="redirectToGithub()">
                Ir a proyecto
              </button>

            </div>
          </div>          

      <div class="card-container relative flex w-80 flex-col rounded-xl bg-gradient-to-br from-[#f89b29] to-[#ff0f7b] bg-clip-border text-gray-700 shadow-md transition-transform duration-300 hover:-translate-y-2">
        <div class="imagen relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-[url('assets/iconos/concreto.png')] bg-cover bg-center">
        </div>
        <div class="p-6">
          <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            Pedidos de Concreto
          </h5>
          <p class="text-white block font-sans text-base font-light leading-relaxed text-inherit antialiased">
            Funcionamiento de este front - end para el pedido y reserva de concreto en una fecha
            en especifíco, mostrando un calendario al inicio.
          </p>
        </div>
        <div class="p-6 pt-0">
          <button 
            data-ripple-light="true" 
            type="button" 
            class="select-none rounded-lg bg-blue-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            (click)="redirectToGithub2()">
            Ir a proyecto
          </button>
        </div>
      </div>

      <div class="card-container relative flex w-80 flex-col rounded-xl bg-gradient-to-br from-[#f89b29] to-[#ff0f7b] bg-clip-border text-gray-700 shadow-md transition-transform duration-300 hover:-translate-y-2">
        <div class="imagen relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-[url('assets/iconos/dashboard.png')] bg-cover bg-center">
        </div>
        <div class="p-6">
          <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            Botepronto Quinielas de futbol
          </h5>
          <p class="text-white block font-sans text-base font-light leading-relaxed text-inherit antialiased">
            Proyecto para quinielas de fútbol.
          </p>
        </div>
        <div class="p-6 pt-0">
          <button 
            data-ripple-light="true" 
            type="button" 
            class="select-none rounded-lg bg-blue-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            (click)="redirectToGithub3()">
            Ir a proyecto
          </button>
        </div>
      </div>

      <div class="card-container relative flex w-80 flex-col rounded-xl bg-gradient-to-br from-[#f89b29] to-[#ff0f7b] bg-clip-border text-gray-700 shadow-md transition-transform duration-300 hover:-translate-y-2 mt-5">
        <div class="imagen relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-[url('assets/iconos/tareas.png')] bg-cover bg-center">
        </div>
        <div class="p-6">
          <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            Lista de Tareas
          </h5>
          <p class="text-white block font-sans text-base font-light leading-relaxed text-inherit antialiased">
            Formulario para agregar tareas, filtrarlas según su categoria, y mostrar lista de tareas.
          </p>
        </div>
        <div class="p-6 pt-0">
          <button 
            data-ripple-light="true" 
            type="button" 
            class="select-none rounded-lg bg-blue-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            (click)="redirectToGithub4()">
            Ir a proyecto
          </button>
        </div>
      </div>

      <div class="card-container relative flex w-80 flex-col rounded-xl bg-gradient-to-br from-[#f89b29] to-[#ff0f7b] bg-clip-border text-gray-700 shadow-md transition-transform duration-300 hover:-translate-y-2 mt-5">
        <div class="imagen relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-[url('assets/iconos/calculadora.png')] bg-cover bg-center">
        </div>
        <div class="p-6">
          <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            Calculadora
          </h5>
          <p class="text-white block font-sans text-base font-light leading-relaxed text-inherit antialiased">
            Calculadora.
          </p>
        </div>
        <div class="p-6 pt-0">
          <button 
            data-ripple-light="true" 
            type="button" 
            class="select-none rounded-lg bg-blue-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            (click)="redirectToGithub6()">
            Ir a proyecto
          </button>
        </div>
      </div>

      <div class="card-container relative flex w-80 flex-col rounded-xl bg-gradient-to-br from-[#f89b29] to-[#ff0f7b] bg-clip-border text-gray-700 shadow-md transition-transform duration-300 hover:-translate-y-2 mt-5">
        <div class="imagen relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-[url('assets/iconos/noti.png')] bg-cover bg-center">
        </div>
        <div class="p-6">
          <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            Noticiero
          </h5>
          <p class="text-white block font-sans text-base font-light leading-relaxed text-inherit antialiased">
            Consumo de API de noticias internacionales, muestreo de las últimas noticias.
          </p>
        </div>
        <div class="p-6 pt-0">
          <button 
            data-ripple-light="true" 
            type="button" 
            class="select-none rounded-lg bg-blue-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            (click)="redirectToGithub5()">
            Ir a proyecto
          </button>
        </div>
      </div>

      <div class="card-container relative flex w-80 flex-col rounded-xl bg-gradient-to-br from-[#f89b29] to-[#ff0f7b] bg-clip-border text-gray-700 shadow-md transition-transform duration-300 hover:-translate-y-2 mt-5">
        <div class="imagen relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-[url('assets/iconos/admin.png')] bg-cover bg-center">
        </div>
        <div class="p-6">
          <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            Administrador de presupuestos
          </h5>
          <p class="text-white block font-sans text-base font-light leading-relaxed text-inherit antialiased">
            Un administrador de presupuesto, que permite agregar gastos que hemos hecho y nos va listando todos los gatos, junto con el total.
          </p>
        </div>
        <div class="p-6 pt-0">
          <button 
            data-ripple-light="true" 
            type="button" 
            class="select-none rounded-lg bg-blue-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            (click)="redirectToGithub7()">
            Ir a proyecto
          </button>
        </div>
      </div>

      <div class="card-container relative flex w-80 flex-col rounded-xl bg-gradient-to-br from-[#f89b29] to-[#ff0f7b] bg-clip-border text-gray-700 shadow-md transition-transform duration-300 hover:-translate-y-2 mt-5">
        <div class="imagen relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-[url('assets/iconos/admin.png')] bg-cover bg-center">
        </div>
        <div class="p-6">
          <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            Lista To Do(Tareas)
          </h5>
          <p class="text-white block font-sans text-base font-light leading-relaxed text-inherit antialiased">
            Aplicación donde los usuarios puedan agregar, y eliminar tareas. Implementa características como la organización de tareas en categorías, y fecha de creación.
          </p>
        </div>
        <div class="p-6 pt-0">
          <button 
            data-ripple-light="true" 
            type="button" 
            class="select-none rounded-lg bg-blue-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            (click)="redirectToGithub8()">
            Ir a proyecto
          </button>
        </div>
      </div>
    </div>
  </div>
  