    <!-- Título de la sección -->
    <h1 class="text-5xl font-bold text-center text-white mb-8">Portafolio</h1>

    <!-- Cards de los proyectos (normal en pantallas grandes y como carousel en móviles) -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 hidden sm:grid">
      <!-- Card 1 -->
      <a href="https://scintillating-peony-7a1ec0.netlify.app/" class="block">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
          <img src="assets/iconos/apple.png" alt="Proyecto 1" class="w-full h-48 object-cover">
          <div class="p-4">
            <h2 class="text-xl font-semibold text-gray-800 mb-2">App Store</h2>
            <p class="text-gray-600">Stack: HTML, CSS, JavaScript</p>
          </div>
        </div>
      </a>    
      <!-- Card 2 -->
      <a href="https://drive.google.com/drive/folders/1JA_6XkALJyWrRiG2u0lCO6DT70c4cZGL?usp=sharing" class="block">
      <div class="bg-white rounded-lg shadow-lg overflow-hidden">
        <img src="assets/iconos/dashboard.png" alt="Proyecto 2" class="w-full h-48 object-cover">
        <div class="p-4">
          <h2 class="text-xl font-semibold text-gray-800 mb-2">Botepronto</h2>
          <p class="text-gray-600">Stack: Angular, TailwindCSS, NestJs</p>
        </div>
      </div>
      </a>
      <!-- Card 3 -->
      <a href="https://warm-peony-59207d.netlify.app/" class="block">
      <div class="bg-white rounded-lg shadow-lg overflow-hidden">
        <img src="assets/iconos/login.png" alt="Proyecto 3" class="w-full h-48 object-cover">
        <div class="p-4">
          <h2 class="text-xl font-semibold text-gray-800 mb-2">Login</h2>
          <p class="text-gray-600">Stack: HTML, CSS, JavaScript</p>
        </div>
      </div>
      </a>
      <!-- Card 4 -->
      <div class="bg-white rounded-lg shadow-lg overflow-hidden">
        <img src="https://via.placeholder.com/400x250" alt="Loading" class="w-full h-48 object-cover">
        <div class="p-4">
          <h2 class="text-xl font-semibold text-gray-800 mb-2">En mantenimiento</h2>
          <p class="text-gray-600">Tecnologías: ||, ||</p>
        </div>
      </div>
      <!-- Card 5 -->
      <div class="bg-white rounded-lg shadow-lg overflow-hidden">
        <img src="https://via.placeholder.com/400x250" alt="Loading" class="w-full h-48 object-cover">
        <div class="p-4">
          <h2 class="text-xl font-semibold text-gray-800 mb-2">En mantenimiento</h2>
          <p class="text-gray-600">Tecnologías: ||, ||</p>
        </div>
      </div>
      <!-- Card 6 -->
      <div class="bg-white rounded-lg shadow-lg overflow-hidden">
        <img src="https://via.placeholder.com/400x250" alt="Loading" class="w-full h-48 object-cover">
        <div class="p-4">
          <h2 class="text-xl font-semibold text-gray-800 mb-2">En mantenimiento</h2>
          <p class="text-gray-600">Tecnologías: ||, ||</p>
        </div>
      </div>
    </div>

    <!-- Carousel (móviles) -->
    <div class="overflow-x-auto sm:hidden">
      <div class="flex gap-8 py-4">
        <!-- Card 1 -->
        <a href="https://scintillating-peony-7a1ec0.netlify.app/" class="block">
        <div class="flex-shrink-0 bg-white rounded-lg shadow-lg overflow-hidden w-60">
          <img src="assets/iconos/apple.png" alt="Proyecto 1" class="w-full h-48 object-cover">
          <div class="p-4">
            <h2 class="text-xl font-semibold text-gray-800 mb-2">App Store</h2>
            <p class="text-gray-600">Stack: HTML, CSS, JavaScript</p>
          </div>
        </div>
      </a>
        <!-- Card 2 -->
         <a href="https://drive.google.com/drive/folders/1JA_6XkALJyWrRiG2u0lCO6DT70c4cZGL?usp=sharing" class="block">
        <div class="flex-shrink-0 bg-white rounded-lg shadow-lg overflow-hidden w-60">
          <img src="assets/iconos/dashboard.png" alt="Proyecto 2" class="w-full h-48 object-cover">
          <div class="p-4">
            <h2 class="text-xl font-semibold text-gray-800 mb-2">BotePronto</h2>
            <p class="text-gray-600">Stack: Angular, TailwindCSS, NestJs</p>
          </div>
        </div>
      </a>
        <!-- Card 3 -->
         <a href="https://warm-peony-59207d.netlify.app/" class="block">
        <div class="flex-shrink-0 bg-white rounded-lg shadow-lg overflow-hidden w-60">
          <img src="assets/iconos/login.png" alt="Proyecto 3" class="w-full h-48 object-cover">
          <div class="p-4">
            <h2 class="text-xl font-semibold text-gray-800 mb-2">Login</h2>
            <p class="text-gray-600">Stack: HTML, CSS, JavaScript</p>
          </div>
        </div>
      </a>
        <!-- Card 4 -->
        <!-- <div class="flex-shrink-0 bg-white rounded-lg shadow-lg overflow-hidden w-60">
          <img src="https://via.placeholder.com/400x250" alt="Proyecto 4" class="w-full h-48 object-cover">
          <div class="p-4">
            <h2 class="text-xl font-semibold text-gray-800 mb-2">Proyecto 4</h2>
            <p class="text-gray-600">Tecnologías: React, Firebase</p>
          </div>
        </div> -->
        <!-- Card 5 -->
       <!--  <div class="flex-shrink-0 bg-white rounded-lg shadow-lg overflow-hidden w-60">
          <img src="https://via.placeholder.com/400x250" alt="Proyecto 5" class="w-full h-48 object-cover">
          <div class="p-4">
            <h2 class="text-xl font-semibold text-gray-800 mb-2">Proyecto 5</h2>
            <p class="text-gray-600">Tecnologías: Vue.js, Vuetify</p>
          </div>
        </div> -->
        <!-- Card 6 -->
        <!-- <div class="flex-shrink-0 bg-white rounded-lg shadow-lg overflow-hidden w-60">
          <img src="https://via.placeholder.com/400x250" alt="Proyecto 6" class="w-full h-48 object-cover">
          <div class="p-4">
            <h2 class="text-xl font-semibold text-gray-800 mb-2">Proyecto 6</h2>
            <p class="text-gray-600">Tecnologías: Python, Django</p>
          </div>
        </div> -->
      </div>
    </div>