<div class="max-w-5xl mx-auto text-center">
  <!-- Título de la sección -->
  <h1 class="text-5xl font-bold text-pink-600 mb-6">Tecnologías</h1>

  <!-- Primera fila de imágenes -->
  <div class="grid grid-cols-6 sm:grid-cols-3 lg:grid-cols-6 gap-8 mb-8">
    <!-- Imagen 1 -->
    <div class="flex flex-col items-center">
      <img src="assets/iconos/iconsof/angular.png" alt="Angular" 
           class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      <p class="text-sm md:text-base text-gray-200 mt-2">Angular</p>
    </div>
    
    <!-- Imagen 2 -->
    <div class="flex flex-col items-center">
      <img src="assets/iconos/iconsof/react.png" alt="React" 
           class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      <p class="text-sm md:text-base text-gray-200 mt-2">React</p>
    </div>
    
    <!-- Imagen 3 -->
    <div class="flex flex-col items-center">
      <img src="assets/iconos/iconsof/html.png" alt="HTML" 
           class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      <p class="text-sm md:text-base text-gray-200 mt-2">HTML</p>
    </div>
    
    <!-- Imagen 4 -->
    <div class="flex flex-col items-center">
      <img src="assets/iconos/iconsof/css.png" alt="CSS" 
           class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      <p class="text-sm md:text-base text-gray-200 mt-2">CSS</p>
    </div>
    
    <!-- Imagen 5 -->
    <div class="flex flex-col items-center">
      <img src="assets/iconos/iconsof/tailwindcss.png" alt="TailwindCSS" 
           class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      <p class="text-sm md:text-base text-gray-200 mt-2">TailwindCSS</p>
    </div>
    
    <!-- Imagen 6 -->
    <div class="flex flex-col items-center">
      <img src="assets/iconos/iconsof/bootstrap.png" alt="Bootstrap" 
           class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      <p class="text-sm md:text-base text-gray-200 mt-2">Bootstrap</p>
    </div>
  </div>
  

  <!-- Segunda fila de imágenes -->
  <div class="grid grid-cols-6 sm:grid-cols-3 lg:grid-cols-6 gap-8 mb-8">
    <!-- Imagen 7 -->
    <div class="flex flex-col items-center">
      <img src="assets/iconos/iconsof/java.png" alt="Java" 
           class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      <p class="text-sm md:text-base text-gray-200 mt-2">Java</p>
    </div>
    
    <!-- Imagen 8 -->
    <div class="flex flex-col items-center">
      <img src="assets/iconos/iconsof/nest.png" alt="NestJS" 
           class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      <p class="text-sm md:text-base text-gray-200 mt-2">NestJS</p>
    </div>
    
    <!-- Imagen 9 -->
    <div class="flex flex-col items-center">
      <img src="assets/iconos/iconsof/js.png" alt="JavaScript" 
           class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      <p class="text-sm md:text-base text-gray-200 mt-2">JavaScript</p>
    </div>
    
    <!-- Imagen 10 -->
    <div class="flex flex-col items-center">
      <img src="assets/iconos/iconsof/mysql.png" alt="MySQL" 
           class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      <p class="text-sm md:text-base text-gray-200 mt-2">MySQL</p>
    </div>
    
    <!-- Imagen 11 -->
    <div class="flex flex-col items-center">
      <img src="assets/iconos/iconsof/postgresql.png" alt="PostgreSQL" 
           class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      <p class="text-sm md:text-base text-gray-200 mt-2">PostgreSQL</p>
    </div>
    
    <!-- Imagen 12 -->
    <div class="flex flex-col items-center">
      <img src="assets/iconos/iconsof/node.png" alt="Node.js" 
           class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      <p class="text-sm md:text-base text-gray-200 mt-2">Node.js</p>
    </div>
  </div>
  

  <!-- Habilidades Profesionales -->
  <h2 class="text-4xl font-bold text-pink-600 mb-6">Habilidades Profesionales</h2>
  <div class="grid grid-cols-2 sm:grid-cols-3 gap-8 text-center">
    <!-- Habilidad 1 -->
    <div class="bg-transparent hover:bg-purple-600 border-2 border-pink-600 p-4 rounded-lg shadow-md transition-transform duration-300 hover:scale-105">
      <p class="text-lg font-semibold text-white">Trabajo en equipo</p>
    </div>
    <!-- Habilidad 2 -->
    <div class="bg-transparent hover:bg-purple-600 border-2 border-pink-600 p-4 rounded-lg shadow-md transition-transform duration-300 hover:scale-105">
      <p class="text-lg font-semibold text-white">Gestión de proyectos</p>
    </div>
    <!-- Habilidad 3 -->
    <div class="bg-transparent hover:bg-purple-600 border-2 border-pink-600 p-4 rounded-lg shadow-md transition-transform duration-300 hover:scale-105">
      <p class="text-lg font-semibold text-white">Comunicación efectiva</p>
    </div>
    <!-- Habilidad 4 -->
    <div class="bg-transparent hover:bg-purple-600 border-2 border-pink-600 p-4 rounded-lg shadow-md transition-transform duration-300 hover:scale-105">
      <p class="text-lg font-semibold text-white">Resolución de problemas</p>
    </div>
    <!-- Habilidad 5 -->
    <div class="bg-transparent hover:bg-purple-600 border-2 border-pink-600 p-4 rounded-lg shadow-md transition-transform duration-300 hover:scale-105">
      <p class="text-lg font-semibold text-white">Liderazgo</p>
    </div>
    <!-- Habilidad 6 -->
    <div class="bg-transparent hover:bg-purple-600 border-2 border-pink-600 p-4 rounded-lg shadow-md transition-transform duration-300 hover:scale-105">
      <p class="text-lg font-semibold text-white">Adaptabilidad</p>
    </div>
  </div>
</div>
