<div class="max-w-5xl mx-auto text-center">
    <!-- Título de la sección -->
    <h1 class="text-5xl font-bold text-pink-600 mb-6">Tecnologías</h1>

    <!-- Descripción -->
    <p class="md:text-lg text-base md:block hidden text-gray-200 leading-relaxed mb-8">
      Nos especializamos en las últimas tecnologías del mercado para ofrecerte soluciones innovadoras y de alta calidad. Nuestro equipo trabaja con las mejores herramientas y tecnologías para garantizar el éxito de tus proyectos.
    </p>

    <!-- Primera fila de imágenes -->
    <div class="grid grid-cols-6 sm:grid-cols-3 lg:grid-cols-6 gap-8 mb-8">
      <!-- Imagen 1 -->
      <div class="flex justify-center items-center">
        <img src="assets/iconos/iconsof/angular.png" alt="Tecnología 1" 
             class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      </div>
      
      <!-- Imagen 2 -->
      <div class="flex justify-center items-center">
        <img src="assets/iconos/iconsof/react.png" alt="Tecnología 2" 
             class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      </div>
    
      <!-- Imagen 3 -->
      <div class="flex justify-center items-center">
        <img src="assets/iconos/iconsof/html.png" alt="Tecnología 3" 
             class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      </div>
    
      <!-- Imagen 4 -->
      <div class="flex justify-center items-center">
        <img src="assets/iconos/iconsof/css.png" alt="Tecnología 4" 
             class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      </div>
    
      <!-- Imagen 5 -->
      <div class="flex justify-center items-center">
        <img src="assets/iconos/iconsof/tailwindcss.png" alt="Tecnología 5" 
             class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      </div>
    
      <!-- Imagen 6 -->
      <div class="flex justify-center items-center">
        <img src="assets/iconos/iconsof/bootstrap.png" alt="Tecnología 6" 
             class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      </div>
    </div>
    

    <!-- Segunda fila de imágenes -->
    <div class="grid grid-cols-6 sm:grid-cols-3 lg:grid-cols-6 gap-8">
      <!-- Imagen 7 -->
      <div class="flex justify-center items-center">
        <img src="assets/iconos/iconsof/java.png" alt="Tecnología 7" 
             class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      </div>
    
      <!-- Imagen 8 -->
      <div class="flex justify-center items-center">
        <img src="assets/iconos/iconsof/nest.png" alt="Tecnología 8" 
             class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      </div>
    
      <!-- Imagen 9 -->
      <div class="flex justify-center items-center">
        <img src="assets/iconos/iconsof/js.png" alt="Tecnología 9" 
             class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      </div>
    
      <!-- Imagen 10 -->
      <div class="flex justify-center items-center">
        <img src="assets/iconos/iconsof/mysql.png" alt="Tecnología 10" 
             class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      </div>
    
      <!-- Imagen 11 -->
      <div class="flex justify-center items-center">
        <img src="assets/iconos/iconsof/postgresql.png" alt="Tecnología 11" 
             class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      </div>
    
      <!-- Imagen 12 -->
      <div class="flex justify-center items-center">
        <img src="assets/iconos/iconsof/node.png" alt="Tecnología 12" 
             class="md:w-24 md:h-24 w-12 h-12 object-contain transition-transform duration-300 hover:scale-110">
      </div>
    </div>
    
    <!-- Habilidades Profesionales -->

    <div class="flex space-x-4 mb-8 md:mt-8 mt-12">
      <!-- Primer div hijo -->
      <div class="w-1/2 p-4">
        <h2 class="text-white text-lg font-bold">Habilidades Profesionales</h2>
        <ul class="list-disc pl-5 mt-4 text-white">
          <li>Comunicación efectiva</li>
          <li>Trabajo en equipo</li>
          <li>Creatividad</li>
          <li>Organización</li>
        </ul>
      </div>
      
      <!-- Segundo div hijo -->
      <div class="w-1/2 p-4">
        <h2 class="text-white text-lg font-bold">Habilidades Técnicas</h2>
        <ul class="list-disc pl-5 mt-4 text-white">
          <li>Desarrollo Frontend</li>
          <li>Desarrollo Backend</li>
          <li>Gestión de bases de datos</li>
          <li>Diseño de aplicaciones web responsivas</li>
        </ul>
      </div>
    </div>    
      
  </div>