<app-navbar></app-navbar>
<div class="scroll-smooth bg-[url('assets/iconos/background1.jpg')] h-full w-full bg-fixed bg-cover bg-center">
<!-- Inicio -->
<section id="inicio" class="h-screen flex items-center justify-center">
<app-home></app-home>
</section>

<!-- Sobre Nosotros -->
<section id="sobre-nosotros" class="h-screen flex flex-col items-center justify-center px-4">
<app-about></app-about>
</section>

<!-- Servicios -->
<section id="servicios" class="h-screen flex flex-col items-center justify-center px-4">
<app-services></app-services>
</section>

<!-- Portafolio -->
<!-- Portfolio -->
<!-- Portfolio -->
<section id="portfolio" class="h-screen flex items-center justify-center bg-gray-400">
  <div class="max-w-5xl w-full px-4">
<app-portfolio></app-portfolio>
  </div>
</section>



<!-- Contacto -->
<section id="contacto" class="h-screen flex items-center justify-center">
<app-contact></app-contact>
</section>
</div>