/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  height: 100vh;
  background-image: linear-gradient(to left bottom, #44093b, #401043, #3a164b, #321c52, #262159, #24215a, #21225a, #1e225b, #281d57, #2f1851, #35124c, #3a0b46);
} */

 
 @keyframes slide-down {
   0% {
     transform: translateY(-20px);
     opacity: 0;
   }
   100% {
     transform: translateY(0);
     opacity: 1;
   }
 }
 
 .animate-slide-down {
   animation: slide-down 5s ease forwards;
 }
 
 .group:hover {
   transform: translateX(-20px); 
 }